body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login form {
  display: flex;
  flex-direction: column;
}


.login form input, .login button {
  margin: 0.5rem;
}

button, .file-upload input {
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file {
  display: flex;
  flex-direction: column;
}

.file-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-list-img {
  width: 500px;
  height: 300px;
  border-radius: 5px;
}

.file {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.file-list-img {
  max-width: 100%;
  height: auto;
}

.file-name-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.menu-options {
  display: flex;
  flex-direction: column;
}

.menu-options form {
  display: flex;
  flex-direction: column;
}

.menu-options input {
  margin-bottom: 5px;
}

.file-list {
  list-style-type: none;
  padding: 0;
}

.file-description {
  margin-top: 10px;
}
