:root {
  --accent-color: #007bff;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.file-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  position: relative;
}

.file-preview {
  width: 100%;
  height: 70%;
  object-fit: cover;
  margin-bottom: 8px;
}

.file-name-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.file-description {
  margin-top: 10px;
}

.tabs {
  display: flex;
  margin-top: 16px;
  background-color: #f1f1f1;
  border-radius: 8px;
}

.tabs button {
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  margin: 4px;
}

.tabs button:hover {
  background-color: #e1e1e1;
}

.tabs button.active {
  background-color: var(--accent-color);
  color: white;
}

.tabs button:not(.active) {
  color: var(--accent-color);
}

.title {
  font-family: Arial, sans-serif;
  font-size: 48px;
  color: black;
  text-align: center;
  margin-top: 50px;
}
